.btn {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  color: #292929;
}

.btn_colored {
  background: #f1cdb3;
}

.btn-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 17px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.btn-arrow.right {
  transform: rotate(-180deg);
}

.btn_bordered {
  padding: 13px 43px;
  background: #fafafa;
  border: 2px solid #f1cdb3;
}
