* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
