* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow.woff2") format("woff2"),
    url("../../fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/ArialMT.woff2") format("woff2"),
    url("../../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-Black.woff2") format("woff2"),
    url("../../fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-Italic.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-BoldItalicMT.woff2") format("woff2"),
    url("../../fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-BoldItalic.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-BoldMT.woff2") format("woff2"),
    url("../../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("../../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-Bold.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-Bold.woff2") format("woff2"),
    url("../../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia.woff2") format("woff2"),
    url("../../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-Italic.woff2") format("woff2"),
    url("../../fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-BoldItalic.woff2") format("woff2"),
    url("../../fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/ArialMT.woff2") format("woff2"),
    url("../../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-Black.woff2") format("woff2"),
    url("../../fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-Italic.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-BoldItalicMT.woff2") format("woff2"),
    url("../../fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-BoldItalic.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-BoldMT.woff2") format("woff2"),
    url("../../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("../../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../../fonts/ArialNarrow-Bold.woff2") format("woff2"),
    url("../../fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-Bold.woff2") format("woff2"),
    url("../../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia.woff2") format("woff2"),
    url("../../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-Italic.woff2") format("woff2"),
    url("../../fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-BoldItalic.woff2") format("woff2"),
    url("../../fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 20px;
  }
}

.scroll-lock {
  overflow: hidden;
}

.blackout {
  background: rgba(41, 41, 41, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}

.blackout_active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.pop-up {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // width: 300px;
  // height: 220px;
  cursor: pointer;
  transition: all 0.9s;
  z-index: 100;
}

.pop-up_active {
  display: block;
}

.blackout-popUp {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
  z-index: 20;
}

.blackout-popUp_active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.modal__wrapper {
  display: flex;
  background-color: #fafafa;
  padding: 20px;
  width: 50vw;
  height: 30vw;
  text-align: justify;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.pop-up__img {
  max-width: 100%;
}

.modal__text {
  margin-left: 20px;
}

@media (max-width: 970px) {
  .modal__wrapper {
    height: 30vw;
  }
  .modal__text {
    margin-left: 10px;
  }
  .pop-up__img {
    display: none;
  }
}

@media (max-width: 700px) {
  .modal__wrapper {
    height: 60vw;
  }
}

@media (max-width: 420px) {
  .modal__wrapper {
    height: 90vw;
    width: 60vw;
  }
}

.popUp__btn-close {
  box-sizing: border-box;
  position: absolute;
  width: 52px;
  height: 52px;
  left: 100%;
  top: -52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.popUp__btn-close:hover {
  background-color: #f1cdb3;
}
