.footer {
  background: url("../../images/png/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__contacts,
.footer__locations {
  display: flex;
  flex-direction: column;
  height: 250px;

  justify-content: space-between;
}

.footer__contacts {
  width: 279px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 15px;
}

.footer__locations .footer__title {
  width: 270px;
}

.footer__link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.footer__link:hover {
  color: #fce0cc;
}

.footer__icon {
  margin-right: 20px;
}

.footer__contact-text {
  display: flex;
  justify-content: space-between;
  width: 733px;
}

@media (max-width: 1279px) {
  .footer__contact-text {
    width: 61%;
  }
}

@media (max-width: 1180px) {
  .footer__wrapper {
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .footer__contact-text {
    width: 100%;
  }

  .footer__title {
    margin-top: 0;
  }

  .footer__contacts,
  .footer__locations {
    height: 234px;
    min-width: 302px;
  }

  .footer__locations {
    margin-left: 0;
  }

  .footer__img {
    margin: 0 auto;
    padding-top: 65px;
  }
}

@media (max-width: 768px) {
  .footer__contacts {
    margin-left: 33px;
  }

  .footer__locations {
    margin-right: 33px;
  }
}

@media (max-width: 680px) {
  .footer__contact-text {
    flex-direction: column;
  }

  .footer__locations {
    margin-top: 40px;
    margin-left: 33px;
  }
}

@media (max-width: 450px) {
  .footer__title {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer__locations {
    margin-left: 0px;
  }

  .footer__contacts {
    margin-left: 0px;
  }
}

@media (max-width: 335px) {
  .footer {
    &__contacts {
      height: 208px;
      align-items: center;
      margin-left: -12px;
    }

    &__title {
      width: 231px;
    }
  }

  .footer {
    &__locations {
      height: 220px;
      margin-left: -10px;
    }
  }

  .footer__locations .footer__title {
    margin-left: 15px;
  }

  .footer__img {
    padding-top: 0;
    margin-top: 42px;
    max-width: 260px;
  }
}
