.footer {
  background: url("../../images/png/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__contacts,
.footer__locations {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 15px;
}

.footer__link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.footer__link:hover {
  color: #fce0cc;
}

.footer__icon {
  margin-right: 20px;
}

.footer__contact-text {
  display: flex;
  gap: 160px;
}

@media (max-width: 1180px) {
  .footer__wrapper {
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
  }

  .footer__title {
    margin-top: 0;
  }

  .footer__contact-text {
    display: flex;
    gap: 150px;
    margin-left: -6px;
  }

  .footer__contacts,
  .footer__locations {
    height: 234px;
  }

  .footer__locations {
    margin-left: 0;
  }

  .footer__img {
    margin: 0 auto;
    padding-top: 65px;
  }
}

@media (max-width: 850px) {
  .footer__contact-text {
    gap: 60px;
  }
}
