.in-addition {
  background: #f6f6f6;
}

.in-additional__wrapper {
  display: flex;
  justify-content: center;
  padding: 91px 0 99.5px 0;
}

.in-addition__img {
  max-height: 261px;
  margin-right: 28px;
  margin-top: -2px;
}

.in-addition__right {
  margin-top: -13px;
}

.in-addition__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
}

.in-addition__subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 20px;
}

.credit-card {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #545454;
  display: block;
  background: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  margin-top: 20px;
  width: 349px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.credit-card:hover {
  background: #fddcc4;
}

.in-addition__text {
  margin-top: 20px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #b2b2b2;
  width: 380px;
}

@media (max-width: 1000px) {
  .in-addition__img-wrapper {
    max-width: 100%;
    margin-right: 15px;
  }
}

@media (max-width: 780px) {
  .in-additional__wrapper {
    flex-direction: column-reverse;
    padding: 80px 0 100px 0;
  }

  .in-addition__img {
    margin: 60px auto 0;
    height: auto;
  }

  .in-addition__img-wrapper {
    margin-left: 100px;
  }

  .in-addition__right {
    margin: 0 auto;
  }

  .credit-card {
    margin-top: 19px;
  }
}

@media (max-width: 760px) {
  .in-addition__img-wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .in-addition__title {
    font-size: 25px;
    text-align: center;
  }

  .in-additional__wrapper {
    padding: 42px 0 42.5px 0;
    margin-left: 0px;
  }
}

@media (max-width: 415px) {
  .credit-card {
    width: 281px;
    font-size: 15px;
  }

  .in-addition__right {
    max-width: 100%;
  }

  .in-addition__text {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .in-addition__right {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .in-addition__title {
    width: 210px;
    height: 57px;
    margin-left: 35px;
  }

  .in-addition__subtitle {
    letter-spacing: 0.01px;
    margin-left: 3px;
    margin-top: 31px;
  }

  .credit-card {
    margin-top: 24px;

    & span {
      margin-top: 2px;
    }
  }

  .in-addition__text {
    text-align: justify;
  }

  .in-addition__img {
    margin-top: 42px;
    margin-left: 10px;
    max-width: 260px;
  }

  .in-addition__img-wrapper {
    margin-left: 0px;
  }
}
