.our-friends {
  background: #f6f6f6;
}

.our-friends__wrapper {
  padding: 80px 0 100px;
}

.our-friends__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  color: #545454;
}

.our-friends__slider {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-list__wrapper {
  display: flex;
  gap: 90px;
}

.slider__img {
  border-radius: 9px 9px 0px 0px;
}

.card__description {
  background: #fafafa;
  text-align: center;
  transition: all 0.9s;
}

.card__pets-name {
  padding: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__btn {
  padding-bottom: 30px;
}

.our-friends__bottom-btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.slider__card:hover {
  cursor: pointer;
}

.slider__card:hover > .card__description {
  background: #ffffff;
}

.slider__card:hover > .card__description > .card__btn .btn_bordered {
  background: #fddcc4;
  border-color: #fddcc4;
  color: #4f4c4c;
}

@media (max-width: 1250px) {
  .slider-list__wrapper {
    gap: 40px;
  }
}

@media (max-width: 1100px) {
  .slider__card:last-child {
    display: none;
  }
}

@media (max-width: 765px) {
  .slider__btn {
    order: 3;
  }

  .our-friends__slider {
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
  }

  .btn-arrow {
    margin-top: 20px;
  }
}

@media (max-width: 680px) {
  .slider__card:nth-child(2) {
    display: none;
  }

  .our-friends__slider {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 540px) {
  .our-friends__slider {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 450px) {
  .our-friends__slider {
    margin-left: 50px;
    margin-right: 50px;
  }

  .our-friends__bottom-btn {
    margin-top: 42px;
  }
}

@media (max-width: 380px) {
  .our-friends__slider {
    margin-left: 20px;
    margin-right: 20px;
  }

  .our-friends__title {
    font-size: 25px;
  }

  .our-friends__wrapper {
    padding: 42px 0 42px;
  }
}

@media (max-width: 320px) {
  .our-friends__title {
    width: 300px;
    margin-left: -10px;
  }

  .slider__img {
    max-width: 270px;
  }

  .our-friends__slider {
    margin-top: 42px;
  }
}
