.logo__title.pets,
.menu__link.pets {
  color: #545454;
}

.logo__subtitle.pets,
.menu__link.pets:hover {
  color: #292929;
}

.menu__item:first-child.pets {
  border-bottom: none;
}

.menu__item.pets:nth-child(2) {
  border-bottom: 3px solid #f1cdb3;
}

.logo__subtitle.pets {
  margin-bottom: 30px;
}

.menu__link.pets.active {
  cursor: default;
  color: #292929;
}

@media (max-width: 767.9px) {
  .menu__link.pets {
    color: #cdcdcd;
  }
  .menu__link.pets:hover,
  .menu__link.pets:hover {
    color: #fafafa;
  }

  .menu__link.pets.active {
    color: #fafafa;
  }
}
